* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "marguerite";
  src: url('./marguerite.ttf');
}

body, html, #root {
  width: 100%;
  height: 100%;
  background: #1D263D;
  color: white;
  font-family: sans-serif;
}
